<tr id="<%= dom_id job %>">
  <td>
    <%= job.title %>
  </td>

  <td>
    <%= job.description %>
  </td>

  <td>
    <%= job.secteur.name %>
  </td>

  <td>
    <%= job.contrat.name %>
  </td>

  <td>
    <%= job.jobfamily.name %>
  </td>

  <td>
    <%= job.lieu %>
  </td>
  <td>
    <%= job.datefin %>
  </td>

</tr>
