<tr id="<%= dom_id job %>">
  <p>
    <%= job.title %>
  </p>

  <p>
<strong>Description du job : 
</strong>
    <%= job.description %>
  </p>

  <p>
<strong>Secteur :
</strong>
    <%= job.secteur.name %>
  </p>

  <p>
<strong>contrat
</strong>
    <%= job.contrat.name %>
  </p>

  <p>
<strong>famille d'emplois :
</strong>
    <%= job.jobfamily.name %>
  </p>

  <p>
Lieu :
    <%= job.lieu %>
  </p>

</tr>
