<div id="<%= dom_id jobevent %>">
  <p>
    <strong>Title:</strong>
    <%= jobevent.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= jobevent.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= jobevent.date %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= jobevent.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= jobevent.lon %>
  </p>

</div>
