<p style="color: green"><%= notice %></p>

<%= render @company %>


<div id="imap" >
            <div id="map" onclick="onMapClick(event);">
                            <!-- Ici s'affichera la carte -->
                                </div>
</div>
<h2>ajouter un employeur</h2>
<%= render "employers/form", employer: @employer %>

<div>
  <%= link_to "Edit this company", edit_company_path(@company) %> |
  <%= link_to "Back to companies", companies_path %>

  <%= button_to "Destroy this company", @company, method: :delete %>
</div>
