<p style="color: green"><%= notice %></p>

<%= render @plateformedemploi %>
<div id="imap" >
            <div id="map" onclick="onMapClick(event);">
                            <!-- Ici s'affichera la carte -->
                                </div>
</div>


<%@x=@plateformedemploi%>
<%if @x.try(:lat).to_s.length > 0%>
<div id="valuelatitude" hidden><%=@x.lat%></div>
<div id="valuelongitude" hidden><%=@x.lon%></div>
<%end%>

<div>
  <%= link_to "Edit this plateformedemploi", edit_plateformedemploi_path(@plateformedemploi) %> |
  <%= link_to "Back to plateformedemplois", plateformedemplois_path %>

  <%= button_to "Destroy this plateformedemploi", @plateformedemploi, method: :delete %>
</div>
