<%= form_with(model: employer) do |form| %>
  <% if employer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

      <ul>
        <% employer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :pic, style: "display: block" %>
    <%= form.text_field :pic %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>
<%if employer.publiqueinstitutions.length > 0%>
  <div>
    <%= form.label :publiqueinstitution_ids, style: "display: block" %>
    <%= form.select :publiqueinstitution_ids, Publiqueinstitution.all.collect{|h|[h.name, h.id]}, {multiple: true} %>
  </div>
<%end%>
<%if employer.companies.length > 0%>

  <div>
    <%= form.label :company_ids, style: "display: block" %>
    <%= form.select :company_ids, Company.all.collect{|h|[h.name, h.id]}, {multiple: true} %>
  </div>
<%end%>


  <div>
    <%= form.submit %>
  </div>
<% end %>
